<% if user_signed_in? %>
<%= simple_form_for([@movie, @comment]) do |f| %>
  
    <%= f.input :author %>
    <%= f.input :body %>
    <%= f.button :submit %>
  
<% end %>

<% else %>
   <div class="bck dark">
    <p class="white">
      You must be logged in to add or edit a movie
    </p>
  </div>
<% end %>
